.link {
  color: var(--color-text);
  text-decoration: underline;
}

.list {
  display: grid;
  margin: 0;
  /* https://css-tricks.com/responsive-layouts-fewer-media-queries/ */
  --w: 280px;
  --n: 2;
  gap: var(--size-gap);
  grid-template-columns: repeat(auto-fit,
      minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr));
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
}

.listItem {
  margin: 0;
}

.listItem::marker {
  color: #e95800;
}

.listItem:nth-child(2)::marker {
  color: #159bf3;
}

.listItem:nth-child(3)::marker {
  color: #8eb814;
}

.listItem:nth-child(4)::marker {
  color: #663399;
}

.listItemLink {
  color: var(--color-primary);
  font-weight: bold;
}

.listItemDescription {
  color: var(--color-text);
  margin-bottom: 0;
  margin-top: var(--space-1);
}

.textCenter {
  text-align: center;
}

.intro {
  max-width: none;
  line-height: var(--line-height-loose);
}


.container {
  max-width: 1280px;
  margin: auto;
  display: flex;
}

.menu {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  align-self: flex-start;
}

.menu li {
  position: relative;
}

.arrow {
  display: none;
}

.hasLink .arrow {
  width: 1em;
  display: inline;
  transition: .1s ease-in-out;
}

.expBloc {
  margin-top: 50px;
}

.expBloc > li {
  margin-bottom: 50px;
}

.expItem, .projItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-grow: 2;
  justify-content: flex-start;
  padding: 20px;
}

.expItem.hasLink:hover, .projItem.hasLink:hover {
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, .05);
  box-shadow: 0 0 1px 1px rgba(255,255,255,.2);
}

.expItem.hasLink:hover h3, .projItem.hasLink:hover h3 {
  color: var(--highlight-color);
}

.expItem:hover h3 > .arrow, .projItem:hover h3 > .arrow {
  transform: translate(4px, -4px);
}

.expItem > header {
  margin: 0 20px 0;
  min-width: 150px;
}

.expItem h3 {
  margin: 0;
  color: var(--color-light);
}

.expItem .sub,
.expItem .desc {
  color: var(--color-dark-grey);
}

.expItem .sub {
  font-weight: bold;
}

.expItem .desc {
  margin-top: 10px;
  color: var(--color-dark-grey);
  font-size: var(--font-sm);
}

.expItem .tags {
  line-break: auto;
}

.expItem .tag {
  background-color: var(--highlight-bg-color);
  color: var(--highlight-color);
  padding: var(--space-2);
  border-radius: 30px;
  margin-right: var(--space-3);
  font-size: var(--font-sx);
  font-weight: 700;
  opacity: .7;
  user-select: none;
}

.expItem .tag:hover {
  box-shadow:0px 0px 0px 1px var(--highlight-color) inset;
  opacity: 1;
}

.projItem header {
  min-width: 150px;
  max-width: 150px;
  margin: 0 10px;
}

.projItem .desc {
  color: var(--color-dark-grey);
  font-size: var(--font-sm);
}
.projItem .desc ol li {
  list-style: decimal;
}

.menuItem {
  background-color: inherit;
  cursor: pointer;
  padding-left: 40px;
  transition: padding-left .25s;
  font-weight: bold;
  color: var(--color-dark-grey);
  text-transform: uppercase;
  font-size: var(--font-sx);
  letter-spacing: 3px;
}

.menuItem::before {
  content: '';
  position: absolute;
  background-color: var(--color-dark-grey);
  height: 2px;
  top: 5px;
  left: 0;
  margin-top: 5px;
  width: 20px;
  transition: width .25s;
}

.menuItem:hover::before,
.menuItem.active::before {
  width: 60px;
}

.menuItem:hover,
.menuItem.active {
  color: var(--color-light);
  padding-left: 80px;
}